@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

:root {
  --primary-color: #014aac;
  --secondary-color: #105dc2;
  --light-color: #ffffff;
  --dark-color: #3d3a3a;
  --bg-color: #dd9191;
  --text-color: #640919;
  --hover-color: #2090ce;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--light-color);
  height: 200vh;
}

header {
  padding: 0 0.8rem;
  top: 0;
  background-color: #f0f0f0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

header a {
  padding: 1.2rem;
  border-radius: 2px;
  text-decoration: none;
  color: var(--dark-color);
  transition: all 0.3s ease;
}

header a:hover {
  background: var(--secondary-color);
}

header ul {
  list-style: none;
  display: flex;
  gap: 4rem;
  padding: 2rem;
  margin: 0;
}

header .btn {
  padding: 20px;
  background-color: var(--primary-color);
  color: var(--light-color);
  text-decoration: none;
  border-radius: 5px;
  display: flex;
}

header .btn:hover {
  background-color: #c9213f;
}

.banner {
  margin: 0 0 1rem 0;
  width: 100%;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slider img {
  width: 100%;
  flex-shrink: 0;
}

.button-carro {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  border: none;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
}

.button-carro:hover {
  color: var(--hover-color);
}

#id1 {
  border-radius: 0 50px 50px 0;
}

#id2 {
  border-radius: 50px 0 0 50px;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

#btnLogin {
  margin: 1.5rem;
  padding: 1rem 2rem;
  background-color: var(--primary-color);
  color: var(--light-color);
  text-decoration: none;
  border-radius: 5px;
}

#btnLogin:hover {
  background-color: var(--secondary-color);
}
