/* .main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.3rem;
}

.total-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.category {
  max-width: 600px;
  min-width: 470px;
}

.category-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150%;
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  color: var(--light-color);
  padding: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
  min-height: 60px;
}

.category-title:hover {
  background-color: var(--secondary-color);
}

.category-name {
  flex: 1;
}

.delete-category-button {
  background: none;
  border: none;
  padding: 0 1rem;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  transition: color 0.2s ease;
  margin: 0 2rem;
}

.delete-category-button:hover {
  color: #7a7778;
}

.toggle-arrow {
  font-size: 1.2rem;
  transition: transform 0.3s ease;
}

#products-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin-top: 1rem;
}

.products-list {
  display: none;
  padding: 0.4rem;
  background-color: #f9f9f9;
  opacity: 0;
  transition: opacity 0.3s ease, max-height 0.3s ease;
  max-height: 0;
  overflow: hidden;
}

.category.open .products-list {
  display: block;
  opacity: 1;
  max-height: 500px;
}

.category.open .toggle-arrow {
  transform: rotate(180deg);
}

#btn-main {
  margin: 0.7rem;
  padding: 1rem;
  width: 50%;
  border-radius: 5px;
  transition: 0.2s;
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  color: var(--light-color);
  text-align: center;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

#btn-main:hover {
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}

.product-item {
  text-decoration: none;
  color: inherit;
  display: block;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card {
  border-radius: 5px;
  padding: 1rem;
  max-width: 440px;
  margin: 0;
  margin-top: 0.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  min-height: 100px;
}

.product-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.product-media {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  text-align: left;
  width: 100;
}

.product-card img {
  width: 100%;
  max-width: 160px;
  max-height: 130px;
  border-radius: 0.5rem;
  transition: opacity 0.3s ease;
}

.product-card:hover img {
  opacity: 0.9;
}

.product-card h2 {
  color: #333;
  margin: 10px 0;
}

.product-card p {
  color: #666;
  text-align: left;
}

.product-price {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 1rem;
}

#add-to-cart-button {
  padding: 0.8rem;
  width: 80%;
  margin-top: 1rem;
  margin: 1rem;
  background-color: var(--primary-color);
  color: var(--light-color);
  border: 2px solid #014aac;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, border 0.3s ease;
}

#add-to-cart-button:hover {
  background-color: var(--primary-color);
  border: 2px solid var(--secondary-color);
}

#add-buttons {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  margin: 2px;
  padding: 1rem;
}

.btn-products {
  width: 100%;
  padding: 1rem;
  display: flex;
  gap: 0.5rem;
}

@media (max-width: 768px) {
  .main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #products-container {
    grid-template-columns: 1fr; 
  }

  .category-title {
    padding: 0.8rem;
    background-color: var(--primary-color);
    color: var(--light-color);
    font-size: 1.1rem;
  }

  .category-title:hover {
    background-color: var(--secondary-color);
  }

  .category-name {
    font-weight: bold;
  }
  .product-card,
  .category-title {
    max-width: 100%;
    padding: 0.2rem;
  }

  .category {
    min-width: 350px;
  }

  .delete-category-button {
    font-size: 1rem;
    margin: 0 1rem;
  }

  .toggle-arrow {
    font-size: 1rem;
  }

  #btn-main {
    width: 100%;
  }

  #add-buttons {
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 0.1rem;
  }

  .edit-button,
  .delete-product-button {
    width: 100%;
  }
} */

body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  color: #343a40;
  margin: 0;
  padding: 0;
}

#products-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.category {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.category-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: var(--primary-color);
  color: #fff;
  cursor: pointer;
}

.category-title .category-name {
  font-size: 18px;
  font-weight: bold;
}

.category-title .toggle-arrow {
  font-size: 14px;
  transition: transform 0.3s;
}

.category-title:hover {
  background-color: #0056b3;
}

.products-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 15px;
  transition: all 0.3s ease;
  width: 100%;
  box-sizing: border-box;
  max-width: 100%;
}

.products-list .product-item {
  max-width: 100%;
  text-decoration: none;
  color: inherit;
  margin: 1rem;
}

.products-list .product-item:hover .product-card {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
.product-card {
  display: flex;
  flex-direction: row; /* Alinha elementos horizontalmente */
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  transition: all 0.3s ease;
  height: 100%;
}

.product-card img {
  max-height: 125px;
  width: 175px; /* Garante que a largura seja ajustada proporcionalmente */
  object-fit: cover;
  border-radius: 8px; /* Faz a borda da imagem acompanhar o card */
  margin: 5px;
}

.product-media {
  flex: 1; /* Faz o texto ocupar o espaço restante */
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centraliza verticalmente */
}

.product-media h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 5px 0;
}

.product-media p {
  font-size: 14px;
  margin: 5px 0;
}

.product-media p:last-child {
  font-weight: bold;
  color: #007bff;
}

.delete-category-button {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  margin-left: 10px;
  transition: color 0.3s;
}

.delete-category-button:hover {
  color: #ff4d4d;
}

#btn-main {
  margin: 0.7rem;
  padding: 1rem;
  width: 50%;
  border-radius: 5px;
  transition: 0.2s;
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  color: var(--light-color);
  text-align: center;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

#btn-main:hover {
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}

#add-to-cart-button {
  padding: 0.8rem;
  width: 80%;
  margin-top: 1rem;
  margin: 1rem;
  background-color: var(--primary-color);
  color: var(--light-color);
  border: 2px solid #014aac;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, border 0.3s ease;
}

#add-to-cart-button:hover {
  background-color: var(--primary-color);
  border: 2px solid var(--secondary-color);
}

#add-buttons {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  margin: 2px;
  padding: 1rem;
}

.btn-products {
  width: 100%;
  padding: 1rem;
  display: flex;
  gap: 0.5rem;
}

@media (max-width: 768px) {
  .main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #products-container {
    grid-template-columns: 1fr;
  }

  .category-title {
    padding: 0.8rem;
    height: 3rem;
    background-color: var(--primary-color);
    color: var(--light-color);
    font-size: 1.1rem;
  }

  .category-title:hover {
    background-color: var(--secondary-color);
  }

  .category-name {
    font-weight: bold;
  }
  .product-card,
  .category-title {
    max-width: 100%;
    padding: 0.2rem;
  }

  .category {
    min-width: 350px;
  }

  .delete-category-button {
    font-size: 1rem;
    margin: 0 1rem;
  }

  .toggle-arrow {
    font-size: 1rem;
  }

  #btn-main {
    width: 100%;
  }

  #add-buttons {
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 0.1rem;
  }

  .edit-button,
  .delete-product-button {
    width: 100%;
  }
}
