.category{
  width: 600px;
}

.category-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Alterado para 100% para ocupar toda a largura disponível */
  max-width: 42rem; /* Largura máxima para desktops */
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  color: var(--light-color);
  padding: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
  min-height: 60px; /* Defina uma altura mínima maior para o título da categoria */
}

.category-title:hover {
  background-color: var(--secondary-color);
}

.category-name {
  flex: 1; /* Para que o nome da categoria ocupe o espaço disponível */
}

.delete-category-button {
  background: none;
  border: none;
  padding: 0 1rem;
  color: #2b2b2b;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  transition: color 0.2s ease;
  margin: 0 2rem;
}

.delete-category-button:hover {
  color: #7a7778;
}

.toggle-arrow {
  font-size: 1.2rem;
  transition: transform 0.3s ease;
}

.products-list {
  display: none; /* Inicialmente oculta a lista de produtos */
  padding: 1rem;
  background-color: #f9f9f9;
  opacity: 0; /* Opacidade inicial */
  transition: opacity 0.3s ease, max-height 0.3s ease; /* Transições */
  max-height: 0; /* Altura máxima inicial */
  overflow: hidden; /* Oculta o conteúdo que transborda */
}

/* Exibir a lista de produtos quando a categoria estiver aberta */
.category.open .products-list {
  display: block; /* Exibe a lista de produtos */
  opacity: 1; /* Opacidade total ao abrir */
  max-height: 500px; /* Defina um valor que permita exibir os produtos */
}

/* Mudar a direção da seta quando a categoria estiver aberta */
.category.open .toggle-arrow {
  transform: rotate(180deg); /* Girar a seta */
}

/* Estilo para o botão de adicionar produtos */
#btn-main {
  margin: 1.5rem;
  padding: 1.2rem;
  width: 50%;
  border-radius: 5px;
  transition: 0.2s;
  border: 2px solid var(--primary-color);
  background-color: var(--primary-color);
  color: var(--light-color);
  text-align: center;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

#btn-main:hover {
  background-color: var(--secondary-color);
  border: 2px solid #024399;
}

/* Configurações principais */
.product-item {
  text-decoration: none;
  color: inherit;
  display: block;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Estilo principal do card de produto */
.product-card {
  border-radius: 5px; /* Arredondamento das bordas */
  padding: 1rem; /* Padding interno */
  max-width: 580px; /* Largura máxima */
  margin: 0; /* Margem em volta do card */
  display: flex; /* Coloca os itens em coluna */
  justify-content: space-between; /* Espaço entre os itens */
  align-items: center; /* Alinha os itens no centro */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; /* Sombra */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transições para hover */
  min-height: 100px; /* Defina uma altura mínima para o card do produto, se necessário */
}
.product-card:hover {
  transform: scale(1.05); /* Efeito de zoom ao passar o mouse */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Sombra ao passar o mouse */
}

/* Estilo para o conteúdo do produto */
.product-media {
  display: flex;
  flex-direction: column; /* Coloca os itens em coluna */
  padding: 1rem; /* Padding interno */
  text-align: left; /* Alinhamento do texto à esquerda */
  width: 100%; /* Largura total */
}

.product-card img {
  width: 40%; /* Imagem ocupa toda a largura do card */
  border-radius: 0.5rem; /* Arredondamento da imagem */
  transition: opacity 0.3s ease; /* Transição de opacidade */
}

.product-card:hover img {
  opacity: 0.9; /* Efeito de opacidade ao passar o mouse */
}

/* Títulos e textos dos produtos */
.product-card h2 {
  color: #333; /* Cor do título */
  margin: 10px 0; /* Margens em cima e embaixo */
}

.product-card p {
  color: #666; /* Cor do texto */
  text-align: left; /* Alinhamento à esquerda */
}

/* Preço do produto */
.product-price {
  font-size: 1.2rem; /* Tamanho da fonte */
  font-weight: bold; /* Negrito */
  color: #333; /* Cor do texto */
  margin-bottom: 1rem; /* Margem embaixo */
}

/* Botão de Comprar */
.add-to-cart-button {
  padding: 0.8rem; /* Padding interno */
  width: 100%; /* Largura total */
  background-color: var(--primary-color); /* Cor de fundo */
  color: var(--light-color); /* Cor do texto */
  border: 2px solid #014aac; /* Cor da borda */
  border-radius: 5px; /* Arredondamento das bordas */
  font-size: 1rem; /* Tamanho da fonte */
  cursor: pointer; /* Cursor de ponteiro */
  transition: background-color 0.3s ease, border 0.3s ease; /* Transições */
  margin-top: 1rem; /* Margem em cima */
}

.add-to-cart-button:hover {
  background-color: (--primary-color); /* Cor ao passar o mouse */
  border: 2px solid (--secondary-color); /* Cor da borda ao passar o mouse */
}

/* Responsividade */
@media (max-width: 768px) {
  .product-card {
    max-width: 100%; /* Colocar os elementos em coluna */
  }

  .category-title {
    max-width: 100%; /* Largura total em dispositivos menores */
    padding: 0.8rem; /* Ajustar o padding */
  }

  .delete-category-button {
    font-size: 1rem; /* Diminuir o tamanho da fonte */
    margin: 0 1rem; /* Ajustar margens */
  }

  .toggle-arrow {
    font-size: 1rem; /* Ajustar tamanho da seta */
  }

  #btn-main {
    width: 100%; /* Botão ocupa toda a largura */
  }


  /* Estilos para os botões de editar e deletar */
  .edit-button, .delete-product-button {
    width: 100%; /* Botões ocupam toda a largura */
  }
}

#add-buttons {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}


.btn-products {
  width: 100%;
  padding: 1rem;
  display: flex;
  gap: 0.5rem;
}

#products-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
