/* body {
  background-color: #2f697a;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 350px;
  padding: 20px;
  border-radius: 20px;
  position:relative;
  background-color: #000000;
  color: #000000;
  border: 1px solid #333;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
  color: #00bfff;
}

.title::before {
  width: 18px;
  height: 18px;
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.title::before,
.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: #00bfff;
}

.message, 
.signin {
  font-size: 14.5px;
  color: rgba(255, 255, 255, 0.7);
}

.signin {
  text-align: center;
}

.signin a:hover {
  text-decoration: underline royalblue;
}

.signin a {
  color: #00bfff;
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.form label {
  position: relative;
}

.form label .input {
  background-color: #333;
  color: #fdfdfd;
  width: 100%;
  padding: 20px 70px 15px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.form label .input + span {
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 12.5px;
  font-size: 0.9em;
}

.form label .input:focus + span,
.form label .input:valid + span {
  color: #00bfff;
  top: 0px;
  font-size: 0.7em;
  font-weight: 600;
}

.input {
  font-size: medium;
}

.submit {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  color: #1f1717;
  font-size: 16px;
  transform: .3s ease;
  background-color: #00bfff;
}

.submit:hover {
  background-color: #00bfff96;
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
} */

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

/* Variáveis de cores */
:root {
  --primary-color: #007bff;;
  --secondary-color: #105dc2;
  --light-color: #ffffff;
  --dark-color: #3d3a3a;
  --bg-color: #dd9191;
  --text-color: #640919;
  --hover-color: #2090ce;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #83606070;
  background-image: url("../../assets/img/abendbrot-939435_1280.jpg");
  background-size: 70%;
  background-position: center;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  padding: 20px;
  z-index: 1;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(65, 62, 62, 0.5); /* Cor preta com 50% de opacidade */
  z-index: -1;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 0.8rem;
  background-color: #2f2f2f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

header a {
  padding: 1.2rem;
  border-radius: 2px;
  text-decoration: none;
  color: var(--dark-color);
  transition: all 0.3s ease;
}

header a:hover {
  background: var(--secondary-color);
}

header ul {
  list-style: none;
  display: flex;
  gap: 4rem;
  padding: 2rem;
  margin: 0;
}

header .btn {
  padding: 20px;
  background-color: var(--primary-color);
  color: var(--light-color);
  text-decoration: none;
  border-radius: 5px;
  display: flex;
}

header .btn:hover {
  background-color: #c9213f;
}

header .btn {
  text-decoration: none;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  margin-left: 15px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

header .btn:hover {
  background-color: #0056b3;
}

#register,
#login {
  background-color: #222222;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin-top: 20px;
  text-align: center;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #ffffff;
}

input {
  width: 100%;
  padding: 10px;
  background: rgb(51, 51, 51);
  color: #ffffff;
  margin-bottom: 15px;
  border: 0px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 10px;
  background-color:var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: rgb(71, 191, 231);
}

p {
  margin-top: 10px;
  font-size: 14px;
  color: red;
}

/* Responsividade */
@media (max-width: 768px) {
  #register,
  #login {
    width: 100%;
    max-width: 400px;
  }
}
